{% extends 'base.html' %}

{% block content %}
<h3>About Us</h3>

<div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
        <p class='about-us'>Omega skate is an up and coming skate shop, dedicated purely to skateboards and
            skateboarding.<br>
            The company has been set up by two skateboarding enthusiasts, who met through skateboard and share a passion
            for the sport.
            We believe skateboarding is a true artform and tricks that are being performed by todays skaters are truly
            mesmerizing.
            We are looking to equipt people with the tools needed to continue this trend. Tricks are getting bigger and
            better every day!
        </p>
    </div>
</div>
</div>

<div class='about-us-header'>
    <p> Meet the Team</p>
</div>
<div class='container-fluid'>
    <div class='row meet-team'>
        <div class='col-sm-6'>
            <h5>Austin</h5>
            <p>I have been skating since I was 13. I especially enjoy mini ramps and vert.</p>
            <ul>
                <li>Side Stance: Regular</li>
                <li>Skate Style: Vert</li>
                <li>Skateboard Type: Shortboard</li>
                <li>Favourite deck brand: Plan B</li>
            </ul>
        </div>
        <div class='col-sm-6'>
            <div class='meet-team-image'>
                <img src= "url('{{ MEDIA_URL }}images/a-sk8.jpg')">
            </div>
        </div>
    </div>
</div>
<div class='container-fluid'>
    <div class='row meet-team'>
        <div class='col-sm-6'>
            <div class='meet-team-image'>
                <img src="/static/media/images/d-sk8.jpg">
            </div>
        </div>
        <div class='col-sm-6'>
            <h5>Donna</h5>
            <p>I have been skateboarding since I was 15. Prefer to travel by skateboard which is why my favourite boards
                are longboards, built for distance and speed.
                I also enjoy street freestyle skating.
            </p>
            <ul>
                <li>Side Stance: Goofy</li>
                <li>Skate Style: Cruising</li>
                <li>Skateboard Type: Longboard</li>
                <li>Favourite deck brand: Plan B</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}