{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head_js %}
<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_tt1oAuAhoKJQisFm2yB3f");
   })();
</script>
<script type="text/javascript" src="{% static 'js/sendEmail.js' %}"></script>
{% endblock %}

{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-6'>
            <ul class='contact-list'>
                <h3>You can contact us by:</h3>
                <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Phone: 07711223344</li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>Email: contact@omegask8.com</li>
                <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Post: Main Road, Manchester, M11 4RJ</li>
            </ul>
        </div>
        
        <div class='col-sm-6'>
            <div>
                <h3 class='contact-heading uppercase text-center'>How can we help?</h3>
            </div>
            <div class="center-form">
                <form onsubmit="sendMail(this);">
                    <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required>
                    <input type="email" name="emailaddress" class="form-control" id="email" placeholder="Email"
                        required>
                    <textarea name="description" class="form-control" id="description" rows="7"
                        placeholder="Insert text here" required></textarea>
                    <a type="submit" href="{% url 'thanks' %}" class="btn info-btn center-block">Send</a>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}