{% extends 'base.html' %}

{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <h3>Deliveries and Returns</h3>
            <div class='paragraph-header'>
                <p>Delivery</p>
            </div>
            <div class='paragraph-content'>
                <p>Free Delivery (UK Only)<br>
                    We aim for same day dispatch on all orders received before 5pm Monday-Friday. Orders received over
                    the weekend will be shipped the following Monday.<br>
                    Uk Mainland - Estimated 1-3 Working Days<br>
                </p>
            </div>
            <div class='paragraph-header'>
                <p>Returns</p>
            </div>
            <strong>Please note that personalised items are not eligible for return!</strong>
            <div class='paragraph-content'>
                <p>If for any reason you are not happy with your purchase you have 28 days from the date of receiving
                    the goods to return the to us for a full refund of the cost of the product or exchange of the
                    product.
                    Postage costs will not be refunded where an exchange is required through no fault of our own. The
                    goods must be in unused condition with all tags attached.<br>
                    Customers are responsible for return shipping charges.<br>
                    The return address is : <br>
                    Street Name, Town, Postcode<br>
                </p>
            </div>
            <div class='paragraph-header'>
                <p>Faulty Items and Incorrect Orders</p>
            </div>
            <div class='paragraph-content'>
                <p>If you believe you have received a faulty or damaged product, please contact us immediately for
                    advice on what to do next.<br>
                    While we do our best to get orders correct, sometimes errors can still occur. If we have sent you an
                    incorrect order please contact us immediately and we can rectify the error as soon as possible.
                </p>
            </div>
            <div class='paragraph-header'>
                <p>Cancelations and Alterations</p>
            </div>
            <div class='paragraph-content'>
                <p>If you wish to cancel or alter an order, please contact us as soon as possible so we can deal with it
                    before the order is dispatched.<br>
                    If the order has already been dispatched before we are contacted we will have to treat it as a
                    return.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}