{% extends 'base.html' %}

{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <h3>Frequently Asked Questions</h3>
      
            <div class='questions'>
                <p>Do you have a shop I can visit? <button class="plus-btn glyphicon glyphicon-plus" id='answer1'></button></p>
            </div>

            <div class='answer' id='answer1-answer'>
                <p>Unfortunately all our business is done online at the moment. We are looking to change this in the future.</p>
            </div>

            <div class='questions'>
                <p>Can I custom build a skateboard to my specification? <button
                        class="plus-btn glyphicon glyphicon-plus" id='answer2'></button></p>
            </div>
            <div class='answer' id='answer2-answer'>
                <p>Yes, if you know the sizes of the equipment you need you can custom build a skateboard. Please visit
                    the <a href="{% url 'setup' %}">Complete Setup Guide</a></p>
            </div>
            <div class='questions'>
                <p>Do I need 1 or 2 trucks? <button class="plus-btn glyphicon glyphicon-plus" id='answer3'></button></p>
            </div>
            <div class='answer' id='answer3-answer'>
                <p>All trucks are sold in pairs, you will only need to add one set of trucks to your basket.</p>
            </div>
            <div class='questions'>
                <p>Do I need grip tape? <button class="plus-btn glyphicon glyphicon-plus" id='answer4'></button></p>
            </div>
            <div class='answer' id='answer4-answer'>
                <p>All decks are gripped before being shipped, free of charge unless stated otherwise. If you would like a specific grip tape to
                    be used or particular to the way the grip tape is applied, please contact us immediately to arrange
                    this via <a href="{% url 'contact' %}">the contact page</a> </p>
            </div>
            <div class='questions'>
                    <p>Are wheels sold in sets of four? <button class="plus-btn glyphicon glyphicon-plus" id='answer5'></button></p>
                </div>
                <div class='answer' id='answer5-answer'>
                    <p>Yes, all wheels are sold in sets of four unless stated otherwise.</p>
                </div>
                <div class='questions'>
                        <p>Do all products come with stickers? <button class="plus-btn glyphicon glyphicon-plus" id='answer6'></button></p>
                    </div>
                    <div class='answer' id='answer6-answer'>
                        <p>Yes we put <strong>free</strong> stickers in all products shipped as a thank you for shopping with us.</p>
                    </div>  
        </div>
    </div>
</div>

{% endblock %}