{% extends 'base.html' %}

{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <h3>Frequently Asked Questions</h3>

            <div class='questions'>
                <p>Do you have a shop I can visit? <button class="plus-btn glyphicon glyphicon-plus"></button></p>
            </div>
            <div class='answer'>
                <p>Unfortunately all our business is done online at the moment.</p>
            </div>
            <div class='questions'>
                    <p>Can I custom build a skateboard to my specification? <button class="plus-btn glyphicon glyphicon-plus"></button></p>
                </div>
                <div class='answer'>
                    <p>Yes, if you know the sizes of the equipment you need you can custom build a skateboard. Please visit the <a href="{% url 'setup' %}">Complete Setup Guide</a></p>
                </div>
            <div class='questions'>
                <p>Do I need 1 or 2 trucks? <button class="plus-btn glyphicon glyphicon-plus"></button></p>
            </div>
            <div class='answer'>
                <p>All trucks are sold in pairs, you will only need to add one set of trucks to your basket.</p>
            </div>

            <div class='questions'>
                <p>Do I need grip tape? <button class="plus-btn glyphicon glyphicon-plus"></button></p>
            </div>
            <div class='answer'>
                <p>All decks are gripped before being shipped, free of charge. If you would like a specific grip tape to be used or particular to the way the grip tape is applied, please contact us immediatly to arrange this. </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}