{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <a href="{% url 'product-filter' category='Completes' %}">
                <div><img src="/static/media/images/completes.jpg" class="product-background"></div>
                <h3>Completes</h3>
            </a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <a href="{% url 'product-filter' category='Decks' %}">
                <div><img src="/static/media/images/decks.jpg" class="product-background"></div>
                <h3>Decks</h3>
            </a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <a href="{% url 'product-filter' category='Trucks' %}">
                <div><img src="/static/media/images/trucks.jpg" class="product-background"></div>
                <h3>Trucks</h3>
            </a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 col-md-offset-2 display panel panel-default">
        <div class="panel-body">
            <a href="{% url 'product-filter' category='Wheels' %}">
                <div><img src="/static/media/images/skate-wheels.jpg" class="product-background"></div>
                <h3>Wheels</h3>
            </a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-3 col-sm-6 col-md-4 col-md-offset-0 display panel panel-default">
        <div class="panel-body">
            <a href="{% url 'product-filter' category='Accessories' %}">
                <div><img src="/static/media/images/accessories.jpg" class="product-background"></div>
                <h3>Accessories</h3>
            </a>
        </div>
    </div>
    
</div>
{% endblock %}