{% extends 'base.html' %}

{% block content %}

<!--banner-->
<!-- <article class='alert-container'>
            <div class='row'>
                <div class='col-xs-12'>
                    <h2>Number One Dedicated Skateboard Shop!
                        </br>Free Delivery!</h2>
                </div>
            </div>
            </div>
        </article> -->
<!--search bar-->
<!-- <div class="container">
            <div class="display">
                <form action="{% url 'search' %}" method="GET">
                    <input type="text" name="q">
                    <button type="search">Search</button>
                </form>
            </div>
        </div> -->
<div class="row row-flex">
    <div class="col-xs-12">
        <div class='complete-image-container category-panel'>
            <a href="{% url 'product-filter' category='Completes' %}">
                <h2>Completes</h2>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class='deck-image-container category-panel'>
            <a href="{% url 'product-filter' category='Decks' %}">
                <h2>Decks</h2>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class='truck-image-container category-panel'>
            <a href="{% url 'product-filter' category='Trucks' %}">
                <h2>Trucks</h2>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class='wheel-image-container category-panel'>
            <a href="{% url 'product-filter' category='Wheels' %}">
                <h2>Wheels</h2>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
            <div class='accessories-image-container category-panel'>
                <a href="{% url 'product-filter' category='Accessories' %}">
                    <h2>Accessories</h2>
                </a>
        </div>
    </div>

</div>
{% endblock %}