{% extends 'base.html' %}

{% block content %}

<!--banner-->

<div class="container">
    <div id="brand-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src= '{{ MEDIA_URL }}images/independent.jpg'>
            </div>
            <div class="item">
                <img src= '{{ MEDIA_URL }}images/thrasher.jpg'>
            </div>
            <div class="item">
                <img src= '{{ MEDIA_URL }}images/element.jpg'>
            </div>
            <div class="item">
                <img src= '{{ MEDIA_URL }}images/vans.jpg'>
            </div>
            <div class="item">
                <img src= '{{ MEDIA_URL }}images/plan-b2.jpg'>
            </div>
        </div>
    </div>
</div>


<div class="row row-flex">
    <div class="col-xs-12">
        <div class='category-panel' style="background-image: url('{{ MEDIA_URL }}images/complete-sk8board-background1.jpg')">
            <a href="{% url 'product-filter' category='Completes' %}">
                <h2>Completes</h2>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class='category-panel' style="background-image: url('{{ MEDIA_URL }}images/sk8board-deck-background1.jpg')">
           
            <a href="{% url 'product-filter' category='Decks' %}">
                <h2>Decks</h2>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class='category-panel' style="background-image: url('{{ MEDIA_URL }}images/sk8board-trucks-background1.jpg')">
            <a href="{% url 'product-filter' category='Trucks' %}">
                <h2>Trucks</h2>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class='category-panel' style="background-image: url('{{ MEDIA_URL }}images/sk8board-wheels-background1.jpeg')">
            <a href="{% url 'product-filter' category='Wheels' %}">
                <h2>Wheels</h2>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class='category-panel' style="background-image: url('{{ MEDIA_URL }}images/sk8-accessories-background.jpg')">
            <a href="{% url 'product-filter' category='Accessories' %}">
                <h2>Accessories</h2>
            </a>
        </div>
    </div>

</div>
{% endblock %}