{% extends 'base.html' %}

{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>

            <h3>Choosing The Right Skateboard</h3>
            <h5>To find the perfect skateboard just for you, here is a handy guide to help
            </h5>
            <h5>Deck Size Table</h5>
            <div class='paragraph-content'>
                <p>To choose a right sized skateboard, use the chart below as an approximate guide.<br>
                    This will give you a good idea of the size of deck you need, it is recommended visiting your local
                    skate shop and standing on some decks.
                </p>
            </div>
            <table class="deck-size-guide">
                <tr>
                    <th>Person</th>
                    <th>Age</th>
                    <th>Height</th>
                    <th>Shoe Size</th>
                    <th>Deck Width</th>
                </tr>
                <tr>
                    <td>Teen -> Adult</td>
                    <td>13+</td>
                    <td>5.3" and Taller</td>
                    <td>8 and over</td>
                    <td>7.5" and Wider</td>
                </tr>
                <tr>
                    <td>Child -> Teen</td>
                    <td>9-12 </td>
                    <td>4.4" - 5.3"</td>
                    <td>7 - 8</td>
                    <td>7.3" - 7.5"</td>
                </tr>
                <tr>
                    <td>Child</td>
                    <td>5-8 </td>
                    <td>3.5" - 4.4"</td>
                    <td>4 - 6</td>
                    <td>7.0" - 7.3"</td>
                </tr>
                <tr>
                    <td>Toddler -> Child</td>
                    <td>0-5 </td>
                    <td>0 - 3.5"</td>
                    <td>0 - 3</td>
                    <td>6.5" - 6.75"</td>
                </tr>
            </table>
            <h5>Complete Decks</h5>
            <div class='paragraph-content'>
                <p>When buying a skateboard, you can either buy a complete skateboard where all the parts have already
                    been assembled for you, or you can build a custom skateboard choosing all the individual components
                    based on your preferences.</p>
                <strong>Please note that custom building your own skateboard is not recommended by
                    novices/beginners</strong>
                <p>Below is a helpful guide to the skateboard parts required for building your own custom
                    skateboard.<br>
                    If you are still unsure, please contact us and we would be happy to help and make recommendations.
                </p>
            </div>
            <h5>Skateboard Parts</h5>
            <div class='part-title'>
                <p>Deck</p>
            </div>
            <div class='paragraph-content'>
                <p>The deck is the board you ride on.</p>
            </div>
            <div class='part-title'>
                <p>Grip Tape</p>
            </div>
            <div class='paragraph-content'>
                <p>This is a sandpaper-like material that is stuck to the top of your deck. It is completely anti-slip
                    which allows you to grip the top of the board as you ride.</p>
            </div>
            <div class='part-title'>
                <p>Wheels</p>
            </div>
            <div class='paragraph-content'>
                <p>The skateboard has 4 wheels. They are rubber wheels that come in a variety of sizes.<br>
                    Large Wheels VS Small Wheels:<br>
                    The wheel diameter is measured in mm. Smaller wheels are slower, while larger wheels are faster.<br>
                    Larger wheels have a greater top speed but take longer and more effort to accelerate.<br>
                    Smaller wheels accelerate quicker but have a lower top speed.<br>
                    The most standard setup is 50mm-55mm wheel.</p>
                    <img src="/static/media/images/wheel-diameter.jpg" class="info-photo">
            </div>
         
            <div class='part-title'>
                <p>Trucks</p>
            </div>
            <div class='paragraph-content'>
                <p>A pair of trucks is required to link the deck and the wheels.<br>
                    The trucks also assist with turning the board. More flex in the trucks means the board is easier to
                    turn, where as less flex gives more stability.<br>
                    The width of your trucks should correspond with the width of your deck, with the tip of each axle
                    level with the deck edge. (See image below)</p>
                    <img src="/static/media/images/trucks-width.jpg">
            </div>
            <div class='part-title'>
                <p>Bearings</p>
            </div>
            <div class='paragraph-content'>
                <p>Skateboard bearings are used to mount the wheel to the axle.<br>
                    Bearings are all the same size</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}