{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Omega Skate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>


<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Omega Skate</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>

                    {% else %}
                    <li><a href="{% url 'registration' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                    <li>
                        <i class="fa fa-shipping-cart"></i>Cart
                        {% if product_count > 0 %}
                        <label class="badge badge-warning">{{ product_count }}</label>
                        {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--introduction-->
    <article class='introduction-container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h1>Omega Skate</h1>
            </div>
        </div>
    </article>
    <!--sale banner-->
    <article class='alert-container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h2>50% Off for New Members. Sign Up Today!
                    </br>Free Delivery!</h2>
            </div>
        </div>
        </div>
    </article>
    <!--search bar-->
    <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="q">
                <button type="search">Search</button>
            </form>
        </div>
    </div>
    <div class="container block-content">
        <div class='content-wrapper'>
            {% block content %} {% endblock %}
        </div>
    </div>

    <footer class='container-fluid'>
        <div class='footer-details row'>
            <div class='col-sm-4'>
                <ul class='footer-list'>
                    <li><a href="{% url 'deliveries' %}">Deliveries & Returns</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
            <div class='col-sm-4'>
                <ul class='footer-list'>
                    <li><a href="{% url 'faqs' %}">Help</a></li>
                    <li><a href="{% url 'setup' %}">Complete Setup Guide</a></li>
                </ul>
            </div>
            <div class='col-sm-4'>
                <ul class='list-inline social-links'>
                    <li><a target='_blank' href='#'><i class='fa fa-facebook'></i></a></li>
                    <li><a target='_blank' href='#'><i class='fa fa-twitter'></i></a></li>
                    <li><a target='_blank' href='#'><i class='fa fa-instagram'></i></a></li>
                    <li><a target='_blank' href='#'><i class='fa fa-snapchat'></i></a></li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script src="{% static 'js/sendEmail.js' %}"></script>
    {% block head_js %} {% endblock head_js %}
</body>

</html>