{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Omega Skate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>


<body>

    <div class='introduction-container'>
        <!--search bar-->
        <div class="container">
            <div class="search-bar-display">
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
                    <input class="form-control search-bar" type="text" name="q">
                    <button class="btn search-btn my-2 my-sm-0" type="search">Search</button>
                </form>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Omega Skate</a>
                </div>
                <div class="nav navbar-right">
                    {% if user.is_authenticated %}
                    <a class='nav-item' href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"
                            aria-hidden="true"></span></a>
                    <a class='nav-item' href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"
                            aria-hidden="true"></span></a>

                    {% else %}
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user"
                            aria-hidden="true"></span></a>
                    <div class="dropdown-menu">
                        <a class='nav-item' href="{% url 'registration' %}">Register</a>
                        <div class="dropdown-divider"></div>
                        <a class='nav-item' href="{% url 'login' %}">Log In</a>
                    </div>
                    {% endif %}

                    <a class='nav-item' href="{% url 'view_cart' %}">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        {% if product_count > 0 %}
                        <label class="badge badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </a>
                </div>
            </div>
        </nav>

    </div>

    <!--introduction-->
    <!-- <article class='introduction-container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h1>Omega Skate</h1>
            </div>
        </div>
    </article> -->
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="container block-content">
        <div class='content-wrapper'>
            {% block content %} {% endblock %}
        </div>
    </div>

    <footer class='container-fluid'>
        <div class='footer-details row'>
            <div class='col-sm-4'>
                <ul class='footer-list'>
                    <li><a href="{% url 'deliveries' %}">Deliveries & Returns</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
            <div class='col-sm-4'>
                <ul class='footer-list'>
                    <li><a href="{% url 'faqs' %}">Help</a></li>
                    <li><a href="{% url 'setup' %}">Complete Setup Guide</a></li>
                </ul>
            </div>
            <div class='col-sm-4'>
                <ul class='list-inline social-links'>
                    <li><a target='_blank' href='#'><i class='fa fa-facebook'></i></a></li>
                    <li><a target='_blank' href='#'><i class='fa fa-twitter'></i></a></li>
                    <li><a target='_blank' href='#'><i class='fa fa-instagram'></i></a></li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script src="{% static 'js/sendEmail.js' %}"></script>
    {% block head_js %} {% endblock head_js %}
</body>

</html>